.fp-prev {
  @apply hidden md:block md:!left-[50px];
}

.fp-next {
  @apply hidden md:block md:!right-[50px];
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}

.fp-slidesNav {
  display: flex;
  justify-content: center;
}
