.root {
  @apply prose prose-invert;
  @apply flex flex-wrap;
  --tw-prose-invert-body: #fff;
  max-width: none;

}

.content {
  .subheading {
    @apply text-sm uppercase tracking-widest mt-16;
    color: #778da9;
    scroll-margin-top: 1rem;

    &:first-child {
      @apply md:mt-24;
    }
  }
}

.interests {
  @apply grid grid-cols-2 sm:grid-cols-4 gap-4;

  .label {
    @apply font-bold text-sm uppercase tracking-widest mb-2;
    color: #778da9;
  }
  .items {
    @apply text-balance;
  }
}
